@import "tailwindcss";

@theme {
  /* Brand */
  --color-brand-primary: hsl(26, 100%, 55%);
  --color-brand-highlight: hsl(25, 100%, 94%);

  /* Content */
  --color-content-main: hsl(220, 13%, 13%);
  --color-content-body: hsl(219, 9%, 45%);
  --color-content-muted: hsl(220, 14%, 75%);

  /* Surfaces */
  --color-surface-base: hsl(0, 0%, 100%);
  --color-surface-alt: hsl(223, 64%, 98%);
  --color-surface-overlay: hsla(0, 0%, 0%, 0.75);

  /* Fonts */
  --font-display: "Kumbh Sans", sans-serif;
}